doctype html
html(lang="en")
head
    title ny
    link(rel='stylesheet', href ='/stylesheets/style.css', type="text/css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet")
    link(rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous")
    
body
    div(class="app")
        block content

    script(src="/js/script.js")