* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

body {
    height: auto;
    margin: 0px;
    padding: 0px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    background-image: url('/image/cloud3.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 500px;
   height: 400px;
   background: rgb(204, 224, 255);
   box-shadow: 2px 2px 14px rgb(150, 169, 201);
   border-radius: 50%;

}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    padding: 10px;
    border: 2px solid rgb(217, 221, 243);
}

.findW {
    border: none;
    padding: 10px;
    background: rgb(125, 125, 184);   
    color: white;
    box-shadow: 2px 2px 5px rgb(65, 65, 133);
    border-radius: 4px;
}

i {
    font-size: 30px;
}

.cityWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 400px;
    background-image: url('/image/cloudet.png');
    background-position: center;
    background-size: cover;
 
}

